@model SmartGuardPortalv1.Models.UserProfile

@{
    
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Feature</legend>

    <div class="display-label">
         @Html.DisplayFor(model => model.FkTitle) @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="display-label">
         @Html.DisplayFor(model => model.Phone)
    </div>
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
