<script src="pikaday.js"></script>

@model SmartGuardPortalv1.Models.RegisterModel
@{
    
    int loginType = Request.Params["login_type"].AsInt();
    var listItems = new List<SelectListItem> 
    { 
              new SelectListItem { Text = "Mr.", Value = "0" }, 
              new SelectListItem { Text = "Ms.", Value = "1" },
              new SelectListItem { Text = "Mrs.", Value = "2" }, 
              new SelectListItem { Text = "Dr.", Value = "3" },
    };

    var listGender = new List<SelectListItem> 
    { 
              new SelectListItem { Text = "Male", Value = "false" }, 
              new SelectListItem { Text = "Female", Value = "true" },
              
    };

    var listHand = new List<SelectListItem> 
    { 
              new SelectListItem { Text = "Right", Value = "false" }, 
              new SelectListItem { Text = "Left", Value = "true" },
              
    };
    
    var listCountries = new List<SelectListItem>();

    SmartGuardPortalv1.Models.UsersContext db = new SmartGuardPortalv1.Models.UsersContext();
    foreach(SmartGuardPortalv1.Models.Country country in db.Countries)
    {
        listCountries.Add(new SelectListItem{ Text = country.CountryName, Value = country.CountryId});
    }
    
}

<b>@Html.ActionLink("Back", "Index", "Home") > New user registration</b>

@{
    if(loginType == 0)
    {
        <p>Welcome to the Smartguard Web Portal!</p>
        <p>Congratulations on your new Smartguard!</p>
        <p>Please enter your personal information and pick your new username and password.</p>
        <p>If you have any questions or need help during the setup feel free to call our customer support: _________</p>
    }
    else if(loginType == 1)
    {
        <p>Welcome to the Smartguard Web Portal!</p>
        <p>Thank you for registering as a contact person for our Smartguard users!</p>
        <p>Please enter your personal information and pick your new username and password.</p>
        <p>If you have any questions or need help during the setup feel free to call our customer support: _________</p>
    }

}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
           <table>
               <tr>
                   <td>
                        @Html.Hidden("UserType", Request.Params["login_type"].AsInt())
                        @Html.LabelFor(m => m.UserName) @Html.TextBoxFor(m => m.UserName)
                <br />
            
                        
                        @Html.LabelFor(m => m.Email) @Html.TextBoxFor(m => m.Email)
                        @Html.LabelFor(m => m.LastName) @Html.TextBoxFor(m => m.LastName)
                        @Html.LabelFor(m => m.FirstName) @Html.TextBoxFor(m => m.FirstName)
        
                        @Html.LabelFor(m => m.BirthDate) 
                        @Html.TextBoxFor(model => model.BirthDate, new { @Value = "MM/DD/YYYY", id = "datepicker" })
                        @Html.ValidationMessageFor(model => model.BirthDate)
                        
                        
                        
                   </td>
                   <td valign="top">
                        
                        
                       
                        <table>
                            <tr>
                                <td>Title: @Html.DropDownList("FkTitle",  new SelectList(listItems , "Value" , "Text"))</td>
                                <td>Gender: @Html.DropDownList("Gender",  new SelectList(listGender , "Value" , "Text"))</td>
                                @{
                                    if(loginType == 0)
                                    {
                                        <td>Hand @Html.DropDownList("Hand",  new SelectList(listHand , "Value" , "Text"))</td>
                                    }
                                }
                            </tr>
                        </table>
                        
                        
                        @Html.LabelFor(m => m.Address) @Html.TextBoxFor(m => m.Address)
                        @Html.LabelFor(m => m.City) @Html.TextBoxFor(m => m.City)
                        @Html.LabelFor(m => m.Country) @Html.DropDownList("Country",  new SelectList(listCountries , "Value" , "Text"))
                        @Html.LabelFor(m => m.Zip) @Html.TextBoxFor(m => m.Zip)
                        @Html.LabelFor(m => m.Phone) @Html.TextBoxFor(m => m.Phone)
                        <br />
                        <input type="submit" value="Register" />
                   </td>
               </tr>

           </table>
            
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
