@model SmartGuardPortalv1.Models.Apply

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payFreq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payFreq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payMethod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
