@model IEnumerable<SmartGuardPortalv1.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fkUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fkShopId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fkUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fkShopId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
