@{
    string user = "administrator";
    if (Request.IsAuthenticated && (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("User") ||
        Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Contact") || 
        Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Distributor")))
    {
        SmartGuardPortalv1.Models.UsersContext context = new SmartGuardPortalv1.Models.UsersContext();
        int userId = (int)WebSecurity.CurrentUserId;
        SmartGuardPortalv1.Models.UserProfile profile = context.UserProfiles.Find(userId);
        SmartGuardPortalv1.Models.UserInformation info = context.UserInfos.FirstOrDefault(m => m.fkUserId == userId);
        string title = "";
        if (info.FkTitle == 0)
        {
            title = "Mr.";
        }
        else if (info.FkTitle == 1)
        {
            title = "Mrs.";
        }
        else if (info.FkTitle == 2)
        {
            title = "Ms.";
        }
        else if (info.FkTitle == 3)
        {
            title = "Dr.";
        }
        user = title + " " + profile.FirstName + " " + profile.LastName + "!"; 
    }
    
}



@{
    if (Request.IsAuthenticated) 
    {

        if (Roles.IsUserInRole("User") || Roles.IsUserInRole("Contact") || Roles.IsUserInRole("Distributor"))
        {
            
                <h2 style="width:100%;text-align:center;" class="lp-data-col__resizing-heading-2 lp-data-col--subtitle lvl-3--lc mbm cf color-black">
                    <b>
                    Welcome 
                        <i> @Html.ActionLink(@user, "Profile", "Account", null, new { Class = "action add", title = "View account settings" }) </i>
                        to your SMARTGUARD Webportal!
                        @*Html.ActionLink("profile", "Profile", "Account") *@
                    </b>
                </h2>


            
        }
        else
        {
            <div>Welcome @Html.ActionLink(@user, "Manage", "Account", null, new {Class = "action add", title="View account settings" })
                    @*Html.ActionLink("profile", "Profile", "Account") *@
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">logout</a>
                    }
            
            </div>
        }
         
    }
    else if( Request.Url.AbsoluteUri =="http://smartguardwatch.azurewebsites.net/")
    {
        <div align="center">
            
            <text>If you are an existing Smartguard user, you can log in below.</text>
            <br />
            <text>If you are interested in our Smartguard products and services and</text>
            <br />
            <text>want to get more information, then choose from the menu on the right.</text>
        </div>
    }
}

@*
else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
*@