@model IEnumerable<SmartGuardPortalv1.Models.Inventory>

@{
    ViewBag.Title = "Index";
    SmartGuardPortalv1.Models.UsersContext db = new SmartGuardPortalv1.Models.UsersContext();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            Serial: @Html.DisplayFor(modelItem => item.serialKey)
            <br />
            Distributor: 
            @{
            try
            {
                @db.Distributors.Where(i => i.fkUserId == item.fkDistroId).FirstOrDefault().name
            }
            catch (Exception ex) { }

            }

            @*db.Distributors.Where(i => i.fkUserId == item.fkUserId).FirstOrDefault().name*@
            <br />
            Owner: @{
                        try
                        { 
                            @db.UserProfiles.Find(item.fkUserId).FirstName @db.UserProfiles.Find(item.fkUserId).LastName

                        }
                        catch (Exception ex) { }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.serialKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.serialKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.serialKey })
        </td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
}

</table>
