@model IEnumerable<SmartGuardPortalv1.Models.Medical>

@{
    ViewBag.Title = "Index";
    int userId = (int)WebSecurity.CurrentUserId;
    
}



@{ 
    if(Roles.IsUserInRole("User"))
    {
        <b> @Html.ActionLink("Dashboard", "Modules", "Home") > Personal Health Records </b>
        <br />
        <br />
        @Html.ActionLink("Create a new health record", "Create")
    }
    else{
        <b> @Html.ActionLink("Dashboard", "AllModules", "Home") > Personal Health Records </b>
        <br />
        <br />
    }
}

<table>
    <tr>
        <td>
            <p>
                This module is part of our future developments. You can be messaged if it is available.
                To keep you as safe as possible and allow supporting physicians to treat you with your individual needs in an emergency situation, it is possible for 
                you to save all your medical data in this web portal. No one but you and your contact persons can access this information but in case of an 
                emergency it can be accessed by your treating doctor directly through your Smartguard as a QR code and additionally it can be sent by mail to the 
                doctor through your contact persons. 

            </p>
            <p>
                This guarantees to inform your physician and/or the paramedics about your individual health needs in the fastest way possible. 
                Here in this web portal menu, you and your contact persons can upload, organise and edit new health information or ask your treating doctor to do so 
                in order to keep your file updated at any time.
            </p>

        </td>
    </tr>
</table>
<table>


@{ 
    if(Roles.IsUserInRole("User"))
    {
        foreach (var item in Model.Where(i => i.fkUserId == userId)) 
        {
            <tr>
                <td>
                    @using ((Html.BeginForm("Download/" + item.MedicalId, "Medical", FormMethod.Get)))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <input type="submit" value="Download" />
                    }
                    <b>Description: </b>@item.description
                    <br />
                    <b>Upload date: </b>@item.TimeStamp
                    <br />
                    <b>Access level: </b>
                    @{
                        if (item.accessLevel == 0)
                        {
                            <text>Only Me</text>
                        }
                        else if (item.accessLevel == 1)
                        {
                            <text>My Primary Contacts</text>
                        }
                        else if (item.accessLevel == 2)
                        {
                            <text>All My Contacts</text>
                        }
                     }
            
                 
        
                </td>
        
                <td>
                    @*Html.ActionLink("Edit", "Edit", new { id=item.MedicalId }) *@
                    @* Html.ActionLink("Details", "Details", new { id=item.ContactId }) | *@
                    @Html.ActionLink("Delete", "Delete", new { id=item.MedicalId })
            
            
                </td>
            </tr>
        }
    
    }
    
    else
    {
        SmartGuardPortalv1.Models.UsersContext db = new SmartGuardPortalv1.Models.UsersContext();
        
        String contactEmail = db.UserProfiles.Find(WebSecurity.CurrentUserId).Email;
        
        foreach(SmartGuardPortalv1.Models.Contact contact in db.Contacts.Where(i => i.Email == contactEmail))
        {
            SmartGuardPortalv1.Models.UserProfile user = db.UserProfiles.Find(contact.fkUserId);
            <tr align="center">
                <td>Medical Data Record of <b>@user.FirstName @user.LastName </b></td>
            </tr>
            foreach(SmartGuardPortalv1.Models.Medical medical in db.MedicalRecords.Where(i => i.fkUserId == contact.fkUserId))
            {
                <tr>
                    <td>
                        @using ((Html.BeginForm("Download/" + medical.MedicalId, "Medical", FormMethod.Get)))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <input type="submit" value="Download" />
                        }
                        <b>Description: </b>@medical.description
                        <br />
                        <b>Upload date: </b>@medical.TimeStamp
                        <br />

                    </td>
                </tr>
            }
            
        }
        
    }
}

</table>
