@model SmartGuardPortalv1.Models.Contact

@{
    ViewBag.Title = "Create";
    int userId = (int)WebSecurity.CurrentUserId;
    SmartGuardPortalv1.Models.UsersContext db = new SmartGuardPortalv1.Models.UsersContext();
    int maxRank = db.Contacts.OrderByDescending(i => i.Rank).FirstOrDefault().Rank;
    maxRank++;

    var listType = new List<SelectListItem> 
    { 
              new SelectListItem { Text = "primary", Value = "false" }, 
              new SelectListItem { Text = "secondary", Value = "true" }
              //new SelectListItem { Text = "", Value = "2" }, 
            
    };
}

<b> @Html.ActionLink("Dashboard", "Welcome", "Home") > @Html.ActionLink("My Contacts", "Index", "Contact") > Create a new contact</b>
<br />

<br />
<p>If your contact person is already registered, you only need to provide the email address. We will automatically fill in the other information.</p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Feature</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Relationship)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Relationship)
            @Html.ValidationMessageFor(model => model.Relationship)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.type)
        </div>
        <div class="editor-field">
            @Html.DropDownList("type",  new SelectList(listType , "Value" , "Text"))
            @Html.ValidationMessageFor(model => model.type)
        </div>

       

        <input type="hidden" value="@userId" id="fkUserId" name="fkUserId"/>
        <input type="hidden" value="@maxRank" id="Rank" name="Rank"/>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
