@model IEnumerable<SmartGuardPortalv1.Models.Contact>

@{
    ViewBag.Title = "Index";
    int userId = (int)WebSecurity.CurrentUserId;
}

<b> @Html.ActionLink("Dashboard", "Module", "Home") > My Contacts </b>
<br />
<br />
@Html.ActionLink("Create a new contact", "Create")

<table>


@foreach (var item in Model.Where(i => i.fkUserId == userId)) {
    <tr>
        <td>
             @{
                if (@item.type == false)
                {
                    <text><b>Primary Contact:</b> @item.FirstName @item.LastName</text>
                    <br />
                    <text><b>Relationship:</b> @item.Relationship</text>
                    <br />
                    <text>@item.Mobile @item.Email</text>
                    
                   
                }
                else
                {
                    <text><b>Secondary Contact:</b> @item.FirstName @item.LastName</text>
                    <br />
                    <text><b>Relationship:</b> @item.Relationship</text>
                    <br />
                    <text>@item.Mobile @item.Email</text>
                    
                }
              }
        </td>
        
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactId }) 
            @* Html.ActionLink("Details", "Details", new { id=item.ContactId }) | *@
            @{
                if (item.Rank != 1)
                {
                    @Html.ActionLink("Delete", "Delete", new { id=item.ContactId })
                    @Html.ActionLink("Move up", "")
                    @Html.ActionLink("Move down", "")
                }
                else
                {
                    @Html.ActionLink("Move down", "")
                }
             }
            
            
        </td>
    </tr>
}

</table>
