@model IEnumerable<SmartGuardPortalv1.Models.Shop>

@{
    ViewBag.Title = "Index";
}

<h3>Products & Services</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

@{
    

    <tr>
        <td width="50%">
            <p><b>Products & Services</b></p>
            @foreach (var item in Model.Where(i => i.type != 2))
            {

                <table>
                    <tr>
                        <td style="background-color:lightgreen;border: 1px solid black; padding:5px">
                            <h3>Title: @Html.DisplayFor(modelItem => item.title)</h3>
                            <br />
                            Type:
                            @{
                            if (item.type == 0)
                            {
                                <text>Product</text>
                            }
                            else if (item.type == 1)
                            {
                                <text>Service</text>
                            }
                            else if (item.type == 2)
                            {
                                <text>Add-on</text>
                            }
                            }
                            <br />
                            Price: @Html.DisplayFor(modelItem => item.amount)
                            <br />
                            Icon: @Html.DisplayFor(modelItem => item.image)
                            
                            
                            <br />
                            Description:@Html.Raw(item.description)
                            <br />
                            Charge type:
                            @{
                if (item.costType == 0)
                {
                    <text>Once</text>
                }
                else if (item.costType == 1)
                {
                    <text>Per use</text>
                }
                else if (item.costType == 2)
                {
                    <text>Daily</text>
                }
                else if (item.costType == 3)
                {
                    <text>Weekly</text>
                }
                else if (item.costType == 4)
                {
                    <text>Monthly</text>
                }
                else if (item.costType == 5)
                {
                    <text>Yearly</text>
                }
                            }
                            <br />
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            <br />
                            <br />
                        </td>
                    </tr>
                </table>



            }
        </td>
        <td width="50%">
            <p><b>Add-ons</b></p>

            @foreach (var item in Model.Where(i => i.type == 2))
            {

                <table>
                    <tr>
                        <td style="background-color:lightyellow; padding: 5px; border:1px solid black">
                            <h3>Title: @Html.DisplayFor(modelItem => item.title)</h3>
                            <br />
                            Type:
                            @{
                                if (item.type == 0)
                                {
                                    <text>Product</text>
                                }
                                else if (item.type == 1)
                                {
                                    <text>Service</text>
                                }
                                else if (item.type == 2)
                                {
                                    <text>Add-on</text>
                                }
                            }
                            <br />
                            Price: @Html.DisplayFor(modelItem => item.amount)
                            <br />
                            Icon: @Html.DisplayFor(modelItem => item.image)
                            
                            <br />
                            Description:@Html.Raw(item.description)
                            <br />
                            Charge type:
                            @{
                if (item.costType == 0)
                {
                    <text>Once</text>
                }
                else if (item.costType == 1)
                {
                    <text>Per use</text>
                }
                else if (item.costType == 2)
                {
                    <text>Daily</text>
                }
                else if (item.costType == 3)
                {
                    <text>Weekly</text>
                }
                else if (item.costType == 4)
                {
                    <text>Monthly</text>
                }
                else if (item.costType == 5)
                {
                    <text>Yearly</text>
                }
                            }
                            <br />
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            <br />
                            <br />
                        </td>
                    </tr>
                </table>

            }
        </td>

    </tr>
    
}
</table>
