@model IEnumerable<SmartGuardPortalv1.Models.FAQ>

@{
    Layout = "";

}
<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SMARTGUARD WATCH</title>

    <script>
 (function (){var cb = function (){var cssFile = document.createElement('link');
cssFile.rel = 'stylesheet';
//cssFile.href = 'https://number26.eu/wp-content/themes/number26/dist/css/style.opt.css?7db955d1a9';
cssFile.href = '@Url.Content("~/Content/css/style.opt.css?7db955d1a9")';
document.head.appendChild(cssFile);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf){raf(cb);
}else {
window.addEventListener('load', cb);
}}());
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script id="no-js-replacer">document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script>
    $(function () {
        $("#accordion").accordion();
        $("#accordion1").accordion();
    });
    $(function () {
        $("#tabs").tabs();
    });
    </script>

</head>
<body class=' home page page-id-1226 page-template page-template-front-page page-template-front-page-php custom-background lp'>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-W8C5VL"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script id="gtm-init">
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W8C5VL');</script><main class="page-wrapper" id="page_wrapper">
    <header class="header header--white drop-shadow" id="header" data-position="0" style="background:#fff;color:#000;font-family:'Courier New'">
        <div class="header__inner" id="header__inner" style="text-align:center">
            <div class="header__hodari">
                <button class="hotdog hotdog--header" id="hotdog">
                    <span class="lines">
                    </span>
                </button>
            </div>

            <a href="http://smartguardwatch.azurewebsites.net/" class=" nav__item nav__register bttn bttn--medium"> Overview </a>
            <a class="nav__item nav__register bttn bttn--medium" href=""> FAQ </a>
            <a href="http://smartguardwatch.azurewebsites.net/ContactUs/Create" class=" nav__item nav__register bttn bttn--medium"> Contact / Buy </a>

            <span class="nav__separator"></span>
            <a class="nav__item nav__register bttn bttn--medium" href="http://smartguardwatch.azurewebsites.net/Home/Landing">
                Login
            </a>

        </div>
    </header>

                <section class="holder holder--two-col-pitch holder--gray-bg" data-sizes="auto" id="cta-1" style="color:#000;width:100%">
                    <article class="main main--lp-intro-fs" style="width:100%">
                        <div class="lp-data-col lp-data-col--fulscreen-columns lp-data-col--front-page" style="width:100%">
                            <section class="content-wrapper main-content clear-fix">



                                <table style="width:100%">
                                    <tr>
                                        <td width="10%"></td>
                                        <td width="80%">
                                            <p class="pitch-list__content">
                                                Frequently Asked Questions



                                            </p>

                                            @{
                                                if (Request.IsAuthenticated && (User.IsInRole("Administrator")))
                                                {
                                                    @Html.ActionLink("Create New FAQ", "Create")
                                                }
                                            }
                                            <br />
                                            <div id="tabs">
                                                <ul>
                                                    <li><a href="#tabs-1">I'm a user</a></li>
                                                    <li><a href="#tabs-2">I'm a contact person</a></li>

                                                </ul>
                                                <div id="tabs-1">
                                                    <div id="accordion">

                                                        @foreach (var item in Model.Where(i => i.typeFAQ == 0))
                                                        {


                                                            <h1 class="lp-data-col__resizing-heading-1 lp-data-col--subtitle lvl-3--lc mbm cf color-black" style="text-align:center;">

                                                                @item.FaqQuestion @item.typeFAQ
                                                            </h1>
                                                            <div>
                                                                <p class="pitch-list__content">
                                                                    @item.FaqAnswer
                                                                    <br />
                                                                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                                                                    {
                                                                        @Html.ActionLink("Edit | ", "Edit", new { id = item.FaqId })

                                                                        @Html.ActionLink("Details | ", "Details", new { id = item.FaqId })
                                                                        @Html.ActionLink("Delete ", "Delete", new { id = item.FaqId })
                                                                    }
                                                                </p>

                                                            </div>





                                                        }
                                                    </div>
                                                </div>
                                                <div id="tabs-2">
                                                    <div id="accordion1">

                                                        @foreach (var item in Model.Where(i => i.typeFAQ == 1))
                                                        {


                                                            <h1 class="lp-data-col__resizing-heading-1 lp-data-col--subtitle lvl-3--lc mbm cf color-black" style="text-align:center;">

                                                                @item.FaqQuestion
                                                            </h1>
                                                            <div>
                                                                <p class="pitch-list__content">
                                                                    @item.FaqAnswer
                                                                    <br />
                                                                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                                                                    {
                                                                        @Html.ActionLink("Edit | ", "Edit", new { id = item.FaqId })

                                                                        @Html.ActionLink("Details | ", "Details", new { id = item.FaqId })
                                                                        @Html.ActionLink("Delete ", "Delete", new { id = item.FaqId })
                                                                    }
                                                                </p>

                                                            </div>





                                                        }
                                                    </div>
                                                </div>

                                            </div>




                                        </td>
                                        <td width="10%"></td>









                                    </tr>
                                </table>
                            </section>
                        </div>


                        
                    </article>

                </section>

    <footer class="holder holder--two-col-pitch drop-shadow">

        <div style="text-align:center; color:#000" class="lp-data-col__resizing-heading-2 lp-data-col--subtitle lvl-3--lc mbm cf color-black">
            <p class="pitch-list__content">
                @Html.ActionLink("Terms & Conditions", "Index", "Home") |
                @Html.ActionLink("About", "Create", "ContactUs") |
                @Html.ActionLink("Social Media", "About", "Home")
                <br />
                SmartGuard @DateTime.Now.Year


            </p>
        </div>


    </footer>
</body>
</html>