@model IEnumerable<SmartGuardPortalv1.Models.Reminder>

@{
    ViewBag.Title = "Index";
    int userId = (int)WebSecurity.CurrentUserId;
}

<b> @Html.ActionLink("Dashboard", "Modules", "Home") > Memory and Reminder </b>
<br />
<br />
@Html.ActionLink("Create a new reminder", "Create")

<table>
    <tr>
        <td>
            <p>
                With the Smartguard`s Memory & Reminder Module it will be one of the easiest things for you to remember your appointments, thoughts and 
                everything else you just don’t want to forget. You have the ability to record memories and set the time for the reminder directly with your Smartguard by pressing the yellow memorise button. 
                
                (Image of SG with highlighted memorise button) There you have the possibility to press the record button or to say “record”, if voice recognition is 
                turned on, to create new reminders and you also can take a look at existing memories by saying “listen” or by clicking on memories.
                (Image of those two different functions on SG`s display)
                Furthermore you and your contact persons can enter new reminders and edit existing ones in the calendar of this web portal down below.

            </p>
            <p>
                When a reminder occurs, the Smartguard vibrates and plays the recorded message through loudspeaker. After the message you will be asked by the
                Smartguard if you want to listen to it again or not. Additionally you can always look up the old reminders in the memory menu of your Smartguard.
            </p>

        </td>
    </tr>
</table>
<table>
@foreach (var item in Model.Where(i => i.fkUserId == userId)) {
    <tr>
        <td>
            
            <b>Description: </b>@item.description
            <br />
            <b>Date: </b>@item.TimeStamp
            <br />
            
        
        </td>
        
        <td>
            @*Html.ActionLink("Edit", "Edit", new { id=item.MedicalId }) *@
            @* Html.ActionLink("Details", "Details", new { id=item.ContactId }) | *@
            @Html.ActionLink("Delete", "Delete", new { id=item.ReminderId })
            
            
        </td>
    </tr>
}

</table>
