@{
    ViewBag.Title = "My Modules";
}

<b>Administrator Dashboard</b>
<div align="left">
    
    <br />
    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("Countries","Index", "Country") <br /> 
               
             
                @*Html.ActionLink("Features","Index", "Feature") <br />
                @Html.ActionLink("Subscriptions","Index", "Subscription") <br />*@
                @Html.ActionLink("Users and Roles","Index", "Role") <br />
                @Html.ActionLink("Training Videos","Index", "Video") <br />
                @Html.ActionLink("Shop Content","Index", "Product") <br />
                @Html.ActionLink("Contact Us Inquiries","Index", "ContactUs") <br />
            </td>
            <td>
                
            </td>
            
        </tr>
        
    </table>

</div>