@{
    ViewBag.Title = "My Modules";
}

<b>Administrator Dashboard</b>
<div align="left">
    
    <br />
    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("Order Cart Management", "Index", "Applies") <br /> 
                @Html.ActionLink("App versions","Index", "AppBuild") <br /> 
                @Html.ActionLink("Feature Management", "Index", "Features") <br /> 
                @Html.ActionLink("Package Management", "Index", "Packages") <br /> 
                @Html.ActionLink("Fall Profiles","Index", "FallProfile") <br /> 
                @Html.ActionLink("Inventory", "Index", "Inventories") <br /> 
                @Html.ActionLink("Countries","Index", "Country") <br /> 
                
             
                @*Html.ActionLink("Features","Index", "Feature") <br />
                @Html.ActionLink("Subscriptions","Index", "Subscription") <br />*@
                @Html.ActionLink("Products & Services", "Index", "Shops") <br />
                @Html.ActionLink("Users Management","Index", "Role") <br />
                @Html.ActionLink("Order/Cart Management", "Index", "Orders") <br />
                @Html.ActionLink("Training Videos","Index", "Video") <br />
                @Html.ActionLink("Shop Content","Index", "Product") <br />
                @Html.ActionLink("Contact Us Inquiries","Index", "ContactUs") <br />
            </td>
            <td>
                
            </td>
            
        </tr>
        
    </table>

</div>