@{
    ViewBag.Title = "My Modules";
}

<b>Administrator Dashboard</b>
<div align="left">
    
    <br />
    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("Manage Countries","Index", "Country") <br /> 
                @Html.ActionLink("Manage Users","Index", "Country") <br />
                @Html.ActionLink("Manage Content","Index", "Country") <br />
                @Html.ActionLink("Manage Features","Index", "Feature") <br />
                @Html.ActionLink("Manage Subscriptions","Index", "Subscription") <br />
                @Html.ActionLink("Manage Roles","Index", "Role") <br />
                
            </td>
            <td>
                
            </td>
            
        </tr>
        
    </table>

</div>