@{
    
}
<b> @Html.ActionLink("Main Menu", "AllModules", "Home") > Memory </b>
<br /><br />
@*Html.ActionLink("Home","Welcome","Home") > My Modules</b>*@

<div>

   
    <table width="100%">
    @{
        
        if(Roles.IsUserInRole("Contact"))
        {
            SmartGuardPortalv1.Models.UsersContext db = new SmartGuardPortalv1.Models.UsersContext();
        
            String contactEmail = db.UserProfiles.Find(WebSecurity.CurrentUserId).Email;
        
            foreach(SmartGuardPortalv1.Models.Contact contact in db.Contacts.Where(i => i.Email == contactEmail))
            {
                SmartGuardPortalv1.Models.UserProfile user = db.UserProfiles.Find(contact.fkUserId);
                
                <tr bgcolor="#d9d9d9">
                    <td>
                        <div align="center">
                            <b> @user.FirstName @user.LastName 's Memory & Reminders </b>
                        </div>
                        @**Html.ActionLink("Create a memory", "ContactCreate", "Memory", new { id = contact.fkUserId }, null)**@
                        <br />
                        <br />
                        @foreach(SmartGuardPortalv1.Models.Memory memory in db.Memories.Where(i => i.fkUserId == contact.fkUserId).Where(i => i.MemoryType == 0 || i.MemoryType == 2))
                        {
                            
                            
                            <b>Memory: </b> @memory.MemoryName

                            <br />
                            <b>Instruction: </b> @memory.MemoryInstructions
                            <br />
                            <b>Schedule:</b> @memory.MemoryDates
                            <br />
                            @**
                            <b>@Html.ActionLink("Set Alarm Schedule", "Details", "Memory", new { id=memory.MemoryId }, null) </b>
                            if(memory.MemoryName != "Wake" && memory.MemoryName != "Sleep")
                            {
                                <b>@Html.ActionLink("Edit", "Edit", "Memory", new { id=memory.MemoryId }, null) </b>
                                <b>@Html.ActionLink("Delete", "Delete", "Memory", new { id=memory.MemoryId }, null) </b>
                            }
                                **@
                            <br />
                            <br />
                        }
                        
                        
                        

                    </td>
                    
                </tr>
                <tr>
                    <td></td>
                </tr>
                
            }
        
        }
    }
    </table>

</div>