@{
    SmartGuardPortalv1.Models.UsersContext db = new SmartGuardPortalv1.Models.UsersContext();

    int charge = db.Charges.Where(i => i.fkUserId == (int)WebSecurity.CurrentUserId).First().ChargePct;
    string timeStamp = db.Charges.Where(i => i.fkUserId == (int)WebSecurity.CurrentUserId).First().ChargeTimeStamp.ToShortDateString() +
        " " + db.Charges.Where(i => i.fkUserId == (int)WebSecurity.CurrentUserId).First().ChargeTimeStamp.ToShortTimeString();
}
<br /><br />
@*Html.ActionLink("Home","Welcome","Home") > My Modules</b>*@

<div>

    
    <br />
    <br />
    <table width="100%">
        <tr>
            <td align="left">
                
                
            </td>
            <td align="right">
                <b>My Smartguard</b>
                <br />
                @charge% Battery
                <br />
                _ hrs Activity
                <br />
                Last charge & sync:
                <br />
                @timeStamp
                


            </td>
            
        </tr>
        <tr>
            <td align="left">
                <a href='@Url.Action("AllModules", "Home")'>
                    <img src='@Url.Content("~/Content/images/buttons/btn_MyModules.png")' width="200px"/>
                </a>
                <br />
                <a href='@Url.Action("Index", "Contact")'>
                    <img src='@Url.Content("~/Content/images/buttons/btn_MyContact.png")' width="200px"/>
                </a>
                <br />
                <a href='@Url.Action("Index", "Contact")'>
                    <img src='@Url.Content("~/Content/images/buttons/btn_Manual.png")' width="200px"/>
                </a>
                <br />
                <a href='@Url.Action("Support", "Home")'>
                    <img src='@Url.Content("~/Content/images/buttons/btn_Support.png")' width="200px"/>
                </a>
                
                
                
               
            </td>
            <td>

            </td>
        </tr>
        
    </table>

</div>