@{
    
}

<h2>@ViewBag.Title</h2>

<div align="left">
    
    <br />
    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("My Modules","Module", "Home") <br /> 
                @Html.ActionLink("My Contacts","Index", "Contact") <br /> 
                @Html.ActionLink("My Places","Index", "Place") <br /> 
                @Html.ActionLink("My Memories","Index", "Memory") <br /> 
                @Html.ActionLink("My Medical Records","Index", "Record") <br /> 
                @Html.ActionLink("My Smartguard","Index", "Contact") <br /> 
                @Html.ActionLink("My Subscription","Index", "Contact") <br /> 
                @Html.ActionLink("My Activity & Fitness","Index", "Contact") <br /> 
                MANUAL/FUNCTION OVERVIEW     <br /><br />
                CUSTOMER SUPPORT <br />
                
            </td>
            <td>
                
            </td>
            
        </tr>
        
    </table>

</div>