@model SmartGuardPortalv1.Models.Feature

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Feature</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FeatureName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FeatureName)
            @Html.ValidationMessageFor(model => model.FeatureName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FeatureFxns)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FeatureFxns)
            @Html.ValidationMessageFor(model => model.FeatureFxns)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
