@model SmartGuardPortalv1.Models.Memory

@{
    ViewBag.Title = "Edit";
    int userId = (int)WebSecurity.CurrentUserId;
}

<b>Dashboard > Activity Check > Edit</b>
<br />
<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Memory</legend>

        @Html.HiddenFor(model => model.MemoryId)
        <input type="hidden" value="@userId" id="fkUserId" name="fkUserId"/>
        <div class="editor-label">
            @Html.LabelFor(model => model.MemoryName)
        </div>
        <div class="editor-field">
            @{
                if (Model.MemoryName == "Wake" || Model.MemoryName == "Sleep")
                {
                    @Html.DisplayFor(model => model.MemoryName);
                }
                else
                {
                    @Html.EditorFor(model => model.MemoryName, new {@class ="form-control", @readonly="true"})
                }
            }
            
            @Html.ValidationMessageFor(model => model.MemoryName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MemoryDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemoryDate)
            @Html.ValidationMessageFor(model => model.MemoryDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MemoryFreq)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemoryFreq)
            @Html.ValidationMessageFor(model => model.MemoryFreq)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MemoryInstructions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemoryInstructions)
            @Html.ValidationMessageFor(model => model.MemoryInstructions)
        </div>

        

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
