@model IEnumerable<SmartGuardPortalv1.Models.Memory>

@{
    ViewBag.Title = "Index";
    int userId = (int)WebSecurity.CurrentUserId;
}

<b>@Html.ActionLink("Dashboard", "Modules", "Home") > Activity Check </b>
<br />
<br />
<p>
    If you want to use this module you need to define the time windows when you normally are active during your day. Therefore please enter your 
waking up and going to bed times for every day of the week into the form down below.
When the Smartguard is not taken out of its charging station/doesn’t move within your active times, it will ask you if everything is okay. When you 
don’t answer or call for “Help” it will call the next available contact person to inform about your situation. This helps to generate a fast emergency 
response if something happened to you which is the reason for your inactivity.
</p>

<p>
    <b>@Html.ActionLink("Create New", "Create")</b>
</p>
<table>

@foreach (var item in Model.Where(i => i.fkUserId == userId)) {

    <tr style="padding-bottom:3px">
        <td width="70%">
             <b>Activity: </b>@item.MemoryName
             <br />
             <b>Schedule: </b>@item.MemoryDates
             <br />

             <b>Remind: </b> 
             @{
                 if(@item.MemoryFreq==0)
                 {
                     <text>Once</text>
                 }
                 else if (@item.MemoryFreq == 1)
                 {
                     <text>Daily</text>
                 }
                 else if (@item.MemoryFreq == 2)
                 {
                     <text>Weekly</text>
                 }
                 else if (@item.MemoryFreq == 3)
                 {
                     <text>Monthly</text>
                 }
              }
            <br />
            <b>Instructions: </b> @item.MemoryInstructions
            <br />
                
        </td>
        
        <td width="30%">
            @Html.ActionLink("Edit", "Edit", new { id=item.MemoryId }) 
            @Html.ActionLink("Set Alarm", "Details", new { id=item.MemoryId }) 
            @* Html.ActionLink("Details", "Details", new { id=item.MemoryId }) | *@
            @{
                if(!(item.MemoryName == "Wake" || item.MemoryName == "Sleep") )
                {
                    
                    @Html.ActionLink("Delete", "Delete", new { id = item.MemoryId });
                }
            }
        </td>
    </tr>
}

</table>
